{% extends "base/generic.html "%}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'product/index.css' %}">
{% endblock %}
{% block content %}
    <h2>Hello Products Page</h2>
    {% for product in products %}
        <div class="container">
            <h2>{{ product.name }}</h2>
            <img src="{{ product.image.url }}" class="img-fluid"/>
            <p>{{ product.price }}</p>
            <p>{{ product.description }}</p>
            <a href="/products/{{product.id}}">view product</a>
        </div>
    {% endfor %}
{% endblock %}