{% extends "base/generic.html "%} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'product/index.css' %}"> {% endblock %} {% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    Product Category
                  </button> {% for category in categories %}
            <a href="{% url 'products:category' category.id%}" class="list-group-item">{{ category.name }}</a> {% endfor %}
        </div>
    </div>
    <div class="col-md-9">
        {% for product in products %}
        <div class="container">
            <h2>{{ product.name }}</h2>
            <img src="{{ product.image.url }}" class="img-fluid" />
            <p>Kshs. {{ product.price }}</p>
            <p>{{ product.description }}</p>
            <a href="{% url 'products:product-detail' product.id %}">view product</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}